body{
	background-color: #696969;
}
header{/*Fundo preto*/
	background-color: black;
	margin: -16px -8px 0px -8px;
	max-height: 50px;
}
header li{/*Uol Bol Globo Yahoo*/
	color: #B0E0E6;
	padding-left: 15px;
	display: inline-block;
}
header h3 p{/*10 de novembro de 2019*/
	color: #ddd;
	letter-spacing: 0.425px;
	position: relative;
	bottom: 58px;
	margin-left: 600px;
}
nav{/*Fundo azul*/
	position: relative;
	background-color: #000080;
	margin: 4px -8px 0px -8px;
}
nav a{/*Home Troféus História Conselho*/
	color: #DCDCDC;
	text-decoration-line: none;  
	display: inline-block;
	position: relative;
	margin-left: 70px;
}
main h2{/*O Time*/
	color: #87CEEB;
	font-size: 300%;
	text-align: center;
}
main div p{
	color: black;
	font-family: Arial Narrow;
	font-size: 20px;
	padding: 0px 80px 0px 80px;
}
main{/* Texto*/
	width: 60%;
	height: 800px;
	float: left;
	text-align: center;
	margin-top: 0.5%;
	background-color: #E8E8E8;
	border-color: white;
	border-top-style: ridge;
	border-bottom-style: groove;
	border-right-style: groove;
	border-left-style: ridge;
	margin-left: -8px;
	border-width: 25px 60px 25px 40px;
}
aside{/*Fundo*/ 
	background-color: #00008B;
	margin: -10px -8px 0px 67%;
	height: 850px;
}
aside ul{
	color: white;
	position: relative;
	top: 15px;
	

}
footer{
	background-color: black;
	height: 60px;
	position: absolute;
	margin-left: -8px;
	width: 100%;
}
footer p{/*Feed*/
	margin-left: 20px;
	font-size: 130%;
	color: white;
}
